logs
__pycache__
wd14_tagger_model
venv
*.egg-info
build
.vscode
wandb
*.toml
timestep_viewer.py
tran_db_options.txt
xl_network_options.txt
tran_network_options.txt
weighted_caption_sdxl_test.py
clipoutput/*
